body{

background-color: darkgreen;
}

h3{


font-style:italic; font-size:26px;
font-family:arial;

font-family:verdana

}

h4{


font-style:italic; font-size:26px;
font-family:arial;

font-family:Arial

}


p{

font-style:bold; font-size:19px;

color: red;


}



